
h1 {
    color: blue;
    background: #BCA9F5;
}

h2 {
    color: blue;
    background: #BCA9F5;
}

h3 {
    color: blue;
    background: #BCA9F5;
}

h4 {
    color: blue;
    background: #BCA9F5;
}